<h3 class="display-4" >View  Load Test Details</h3>
<form>
    <div class="row">
        <div class="col-md-3 d-grid gap=2">
            <label for="env" class="form-label"></label>
            <input type="text" [(ngModel)]="test_id" name="test_id" class="form-control" placeholder="Environment">
        </div>
        
        <div class="col-md-3 d-grid gap=2">
            <label class="form-label">&nbsp;</label>
            <button type="submit" class="btn" (click)="getTestDetails()">Submit</button>
          </div>
    </div>
    <div class="mb-3">      
        <br/>  
        <ngx-json-viewer class="form-control"  [json]="data" [expanded]="false" [depth]="4"></ngx-json-viewer>
    </div>
</form>