
.display-3 {
    text-align: left;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    /* text-shadow: 10px 3px 6px #edf1f2, 0 5px 5px #f8fafa; */
    
    }

.sub-titles {
    text-align: left;
    font-family :Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    color: rgb(255, 255, 255);
    /* text-shadow: 10px 3px 6px #edf1f2, 0 5px 5px #f8fafa; */
}

label {
    color: rgb(9, 64, 68);
    font-family :Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    font-size: large;
}

.element {
    margin-top: 25px;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px rgb(66, 66, 65);
    margin-bottom: 25px;
    background: rgb(219, 177, 125);
}

.output-element {
    padding: 10px;
}


.row {
    padding: 5px;
}


ngx-json-viewer.form-control {
    width: 100%;
    min-height: 100px;
    max-height: 350px; /* Use max-height for flexibility */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Avoid horizontal scrolling */
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    background-color: #f8f9fa;
    box-sizing: border-box;
  }

  mat-spinner {
    display:block;
    margin: 5px ;
    

  }